* {
    margin: 0;
    padding: 0;
}

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.border2 {
    border: 1px solid black;
    margin: 3px;
}

.none2 {
    border: none;
}

.justify-content2 {
    justify-content: center;
}

.align-items2 {
    align-items: center;
}

.left2 {
    width: 25vw;
}

.right2 {
    width: 75vw;
}

.invert2 {
    filter: invert(1);
}

.background2 {
    background-color: black;
}

.text2:hover {
    text-decoration: underline;
}